CryptoNotify.v11.suo
CryptoNotify/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
CryptoNotify/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CryptoNotify/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CryptoNotify/bin/Debug/CryptoNotify.vshost.exe.manifest
CryptoNotify/bin/Debug/CryptoNotify.vshost.exe
CryptoNotify/bin/Debug/app.config
CryptoNotify/bin/Debug/CryptoNotify.exe
CryptoNotify/bin/Debug/CryptoNotify.pdb
CryptoNotify/bin/Debug/CryptoNotify.xml
CryptoNotify/bin/Debug/Newtonsoft.Json.dll
CryptoNotify/obj/Debug/CryptoNotify.exe
CryptoNotify/obj/Debug/CryptoNotify.pdb
CryptoNotify/obj/Debug/CryptoNotify.vbproj.FileListAbsolute.txt
CryptoNotify/obj/Debug/CryptoNotify.vbproj.GenerateResource.Cache
CryptoNotify/obj/Debug/CryptoNotify.vbprojResolveAssemblyReference.cache
CryptoNotify/obj/Debug/CryptoNotify.xml
CryptoNotify/obj/Debug/WindowsApplication1.ConfirmForm.resources
CryptoNotify/obj/Debug/WindowsApplication1.Form1.resources
CryptoNotify/obj/Debug/WindowsApplication1.LargeMessageForm.resources
CryptoNotify/obj/Debug/WindowsApplication1.LinkLableMessageForm.resources
CryptoNotify/obj/Debug/WindowsApplication1.MessageForm.resources
CryptoNotify/obj/Debug/WindowsApplication1.PrivacyWarningForm.resources
CryptoNotify/obj/Debug/WindowsApplication1.Resources.resources
CryptoNotify/obj/Debug/WindowsApplication1.SettingsDialog.resources